@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-panel-container {
  background-color: rgb(146, 212, 59);
}

.new-product {
  @apply text-white;
  background-color: #d40d9a;
}

input, textarea{
  @apply border-2 border-slate-500 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus, textarea:focus{
  @apply border-lime-900;
}

h1{
  @apply text-lime-900 mb-2 text-xl;
}

label{
  @apply text-lime-900;
}

.btn-primary{
  @apply text-white px-4 py-1 rounded-md;
  background-color: #d40d9a;
}

table.basic{
  @apply w-full;
}

table.basic thead tr td{
  @apply text-white;
  background-color: #d40d9a;
}

table.basic tr td{
  @apply border border-slate-400 p-1;
}

table.basic a{
  @apply text-white text-sm py-1 px-2 rounded-md inline-flex gap-1;
  background-color: #d40d9a;
}
