@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%;
}

.admin-panel-container {
  background-color: rgb(146, 212, 59);
}

input, textarea, select{
  @apply border-2 border-slate-400 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus{
  @apply border-lime-800;
}

h1, .loading-categories{
  @apply text-lime-900 mb-2 text-xl;
}

label{
  @apply text-lime-900;
}

.btn-default{
  @apply text-white px-4 py-1 rounded-md;
  background-color: #d40d9a;
}

.btn-primary{
  @apply text-white px-4 py-1 rounded-md;
  background-color: rgb(146, 212, 59);
}

.btn-delete {
  @apply px-4 py-1 mt-1 rounded-md bg-red-800 text-white;
}

.delete-product{
  color: rgb(146, 212, 59);
}

table.basic{
  @apply w-full;
}

table.basic thead tr td{
  @apply text-white;
  background-color: rgb(146, 212, 59);
}

table.basic tr td{
  @apply border border-slate-400 p-1;
}

table.basic a{
  @apply text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
  background-color: rgb(146, 212, 59);
}
