@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%;
}

input, textarea, select{
  @apply border-2 border-slate-400 rounded-md px-1 w-full;
  @apply mb-3;
}

input:focus, textarea:focus, select:focus{
  @apply border-lime-800;
}

h1, .loading-categories{
  @apply text-lime-900 mb-2 text-xl;
}

label{
  @apply text-lime-900;
}

.btn-default{
  @apply text-white px-4 py-1 mt-1 rounded-md;
  background-color: #d40d9a;
}

.btn-primary{
  @apply text-white px-4 py-1 mt-1 rounded-md;
  background-color: rgb(146, 212, 59);
}

.styledChart{
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid rgb(146, 212, 59);
  border-radius: 5px;
}

.delete-product{
  color: rgb(146, 212, 59);
}

.new-property{
  @apply text-white px-1 py-1 mt-1 rounded-md;
}

table.basic{
  @apply w-full;
}

table.basic thead tr td{
  @apply text-white;
  background-color: rgb(146, 212, 59);
}

table.basic tr td{
  @apply border border-slate-400 p-1;
}

table.basic td:first-child {
  /* Set a fixed height for the product name cell */
  height: 40px; /* Adjust the height as needed */
  overflow: hidden; /* Hide any content that overflows */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis for long text */
}
